<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chronos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/w3/w3.css">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <!--não funciona localmente-->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/admin.css">
    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js "></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js "></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js "></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js "></script>
    <!--===============================================================================================-->
    <script src="js/admin.js "></script>
    <script src="js/main.js"></script>
    <!--===============================================================================================-->
</head>

<body>
    <div class="limiter">
        <div class="page-wrapper chiller-theme toggled">
            <a id="show-sidebar" class="btn btn-sm btn-dark">
                <i class="fas fa-bars" style="color:white"></i>
            </a>
            <nav id="sidebar" class="sidebar-wrapper">
                <div class="sidebar-content">
                    <div class="sidebar-brand">
                        <a>CHRONOS ADMIN</a>
                        <div id="close-sidebar">
                            <i class="fas fa-arrow-circle-left"></i>
                        </div>
                    </div>
                    <div class="sidebar-header">
                        <div class="user-pic">
                            <img class="img-responsive img-rounded" src="images/user.jpg" alt="User picture">
                        </div>
                        <div class="user-info">
                            <span class="user-name">Miguel
                                    <strong>Almeida</strong>
                                  </span>
                            <span class="user-role">Administrator</span>
                        </div>
                    </div>
                    <!-- sidebar-header  -->
                    <div class="sidebar-search">
                        <div>
                            <div class="input-group">
                                <input id="generalInput" type="text" class="form-control search-menu" placeholder="Search and press enter">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                      </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- sidebar-search  -->
                    <div class="sidebar-menu">
                        <ul>
                            <li class="header-menu">
                                <span>General</span>
                            </li>
                            <li>
                                <a id="dashboard-button">
                                    <i class="fa fa-tachometer-alt"></i>
                                    <span id="dashboard">Dashboard</span>
                                </a>
                            </li>
                            <li class="sidebar-dropdown">
                                <a>
                                    <i class="fa fa-chart-line"></i>
                                    <span>Data</span>
                                </a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li>
                                            <button class="admin100-form-btn" id="searchAll"> Show All </button>
                                        </li>
                                        <li>
                                            <button class="admin100-form-btn" id="searchStudents">Show Students</button>
                                        </li>
                                        <li>
                                            <button class="admin100-form-btn" id="searchTeachers">Show Teachers</button>
                                        </li>
                                        <li>
                                            <button class="admin100-form-btn" id="getLogs">Show Logs</button>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="header-menu">
                            </li>


                        </ul>
                    </div>
                    <!-- sidebar-menu  -->
                </div>
                <!-- sidebar-content  -->
                <div class="sidebar-footer">
                    <a>
                        <i class="fa fa-bell"></i>
                        <span class="badge badge-pill badge-warning notification">3</span>
                    </a>
                    <a>
                        <i class="fa fa-envelope"></i>
                        <span class="badge badge-pill badge-success notification">7</span>
                    </a>
                    <a id="settingsbutton">
                        <i class="fa fa-cog"></i>
                    </a>
                    <a id="logoutbtn">
                        <i class="fa fa-power-off"></i>
                    </a>
                </div>
            </nav>

            <!-- sidebar-wrapper  -->
            <main class="container-admin100">
                <div class="table-responsive" id="query_table">
                    <div class="settings-admin-div">
                        <div>
                            <h2>Your settings</h2>
                            <p>You can change your settings here</p>
                            <br>
                            <form id="formsettings">
                                Timezone:
                                <br>
                                <select id="timezoneselector">
                                        <option value="gmt">GMT +0</option>
                                        <option value="cet">GMT +1</option>
                                        <option value="eet">GMT +2</option>
                                        <option value="wat">GMT -1</option>
                                        <option value="cdt">GMT -5</option>
                                        <option value="pdt">GMT -7</option>
                                    </select><br>
                                <br> Theme:
                                <br>
                                <select id="themeselector">
                                        <option value="regulartheme">Regular theme</option>
                                        <option value="darktheme">Dark theme</option>
                                    </select><br>
                                <br>
                                <button class="customButton" type="button" id="savesettings-button">Save</button>
                            </form>
                        </div>
                    </div>
                    <div class="createStudent-admin-div">
                        <h2>Create student</h2>
                        <br>
                        <h3>You can create a student here</h3>
                        <p>Enter name, course and number for student before creation</p>
                        <br>
                        <form class="criaAluno-form validate-form">
                            Name:<br>
                            <input type="text" id="aluno_nome" placeholder="Name"><br>
                            <br> Course id:<br>
                            <input type="text" id="aluno_curso" placeholder="Course"><br>
                            <br> Number:
                            <br>
                            <input type="text" id="aluno_numero" placeholder="Number"><br>
                            <br>
                            <button type='button' class="customButton" id="criar_aluno">Criar Aluno</button>
                            <br>
                            <br>
                            <p id="createStudentMsg"></p>
                        </form>
                    </div>
                    <vr></vr>
                    <div class="createStudent-admin-div">
                        <h2>Create professor</h2>
                        <br>
                        <h3>You can create a professor here</h3>
                        <p>Enter name and number for teacher before creation</p>
                        <br>
                        <form class="criaAluno-form validate-form">
                            Name:<br>
                            <input type="text" id="prof_nome" placeholder="Name"><br>
                            <br> Number:
                            <br>
                            <input type="text" id="prof_numero" placeholder="Number"><br>
                            <br>
                            <button type='button' class="customButton" id="criar_prof">Criar Professor</button>
                            <br>
                            <br>
                            <p id="createProfMsg"></p>
                        </form>
                    </div>

                </div>
            </main>
            <!-- page-content" -->
        </div>
        <!-- page-wrapper -->


</body>

</html>