<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chronos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/w3/w3.css">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js "></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js "></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js "></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js "></script>
    <!--===============================================================================================-->
    <script src="js/main.js "></script>

</head>

<body>

    <div class="limiter">
        <div class="container-login100">

            <div class="wrap-login100 ">

                <form class="login100-form validate-form" method="GET" action="/auth/google">
                    <span class="login100-form-title ">
						CHRONOS
                    </span>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" id="login" type="submit">
                            Login
                        </button>
                    </div><br>

                    <div class="hidden" id="badLogin" align ="center">
                        <p>Wrong Username or Password</p>
                    </div>

                    <div class="text-center p-t-12 ">
                        <span class="txt1 ">
							Forgot
						</span>
                        <a class="txt2 " href="# ">
							Username / Password?
						</a>
                    </div>

                </form>

            </div>
        </div>
    </div>






</body>

</html>