<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chronos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Schedule Site for College Students">
    <meta name="theme-color" content="#317EFB">
    <script defer src="js/loadCSS.js"></script>
    <link rel="manifest" href="json/manifest.json">
    <!--===============================================================================================-->
    <link rel="preload" href="vendor/w3/w3.css" as="style" onload="this.onload=null;this.rel='stylesheet'"><noscript><link rel="stylesheet" href="vendor/w3/w3.css"></noscript>
    <!--===============================================================================================-->
    <link rel="preload" href="vendor/bootstrap/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'"><noscript><link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css"></noscript>
    <!--===============================================================================================-->
    <link rel="preload" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'"><noscript><link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"></noscript>
    <!--===============================================================================================-->
    <link rel="preload" href="vendor/animate/animate.css" as="style" onload="this.onload=null;this.rel='stylesheet'"><noscript><link rel="stylesheet" href="vendor/animate/animate.css"></noscript>
    <!--===============================================================================================-->
    <link rel="preload" href="vendor/css-hamburgers/hamburgers.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'"><noscript><link rel="stylesheet" href="vendor/css-hamburgers/hamburgers.min.css"></noscript>
    <!--===============================================================================================-->
    <link rel="preload" href="vendor/select2/select2.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'"><noscript><link rel="stylesheet" href="vendor/select2/select2.min.css"></noscript>
    <!--===============================================================================================-->
    <link rel="preload" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" as="style" onload="this.onload=null;this.rel='stylesheet'"><noscript><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"></noscript>
    <!--===============================================================================================-->
    <link rel="preload" href="css/util.css" as="style" onload="this.onload=null;this.rel='stylesheet'"><noscript><link rel="stylesheet" href="css/util.css"></noscript>
    <link rel="preload" href="css/main.css" as="style" onload="this.onload=null;this.rel='stylesheet'"><noscript><link rel="stylesheet" href="css/main.css"></noscript>
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <script defer src="vendor/jquery/jquery-3.2.1.min.js "></script>
    <!--===============================================================================================-->
    <script defer src="vendor/bootstrap/js/popper.js "></script>
    <script defer src="vendor/bootstrap/js/bootstrap.min.js "></script>
    <!--===============================================================================================-->
    <script defer src="vendor/select2/select2.min.js "></script>
    <!--===============================================================================================-->
    <script defer src="js/main.js "></script>

</head>

<body>

    <div class="limiter">
        <div class="container-login100">

            <div class="">

                <form class=" validate-form " method="GET " action="/auth/google ">
                    <span class="login100-form-title ">
						CHRONOS
                    </span>

                    <div class="container-login100-form-btn ">
                        <button class="login100-form-btn" id="login " type="submit ">
                            Login
                        </button>
                    </div><br>



                    <div class="text-center p-t-12 ">
                        <span class="txt1 ">
							Forgot
						</span>
                        <a class="txt2 " href="# ">
							Username / Password?
						</a>
                    </div>

                </form>

            </div>
        </div>
    </div>






</body>

</html>