<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chronos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/w3/w3.css">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <!--não funciona localmente-->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/student.css">
    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js "></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js "></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js "></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js "></script>
    <!--===============================================================================================-->
    <script src="js/student.js "></script>
    <script src="js/main.js"></script>
    <!--===============================================================================================-->
</head>

<body>
    <div class="limiter">
        <div class="page-wrapper chiller-theme toggled">
            <a id="show-sidebar" class="btn btn-sm btn-dark">
                <i class="fas fa-bars" style="color:white"></i>
            </a>
            <nav id="sidebar" class="sidebar-wrapper">
                <div class="sidebar-content">
                    <div class="sidebar-brand">
                        <a>CHRONOS STUDENT</a>
                        <div id="close-sidebar">
                            <i class="fas fa-arrow-circle-left"></i>
                        </div>
                    </div>
                    <div class="sidebar-header">
                        <div class="user-pic">
                            <img class="img-responsive img-rounded" src="images/user.jpg" alt="User picture">
                        </div>
                        <div class="user-info">

                        </div>
                    </div>
                    <!-- sidebar-header  -->

                    <div class="sidebar-menu">
                        <ul>
                            <li class="header-menu">
                                <span>General</span>
                            </li>
                            <li>
                                <a id="dashboard-button">
                                    <i class="fa fa-tachometer-alt"></i>
                                    <span id="dashboard">Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a id="profile-button">
                                    <i class="fas fa-user"></i>
                                    <span id="profile">Profile</span>
                                </a>
                            </li>

                            <li>
                                <a id="schedule-button">
                                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                                    <span id="requests">Schedule</span>
                                </a>
                            </li>
                            <li>
                                <a id="changeButton">
                                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                                    <span id="change">Transfer Request</span>
                                </a>
                            </li>
                            <li>
                                <a id="subject-enroll-button">
                                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                                    <span id="requests">Subject Enroll</span>
                                </a>
                            </li>

                            <li class="header-menu">

                            </li>


                        </ul>
                    </div>
                    <!-- sidebar-menu  -->
                </div>
                <!-- sidebar-content  -->
                <div class="sidebar-footer">
                    <a>
                        <i class="fa fa-bell"></i>
                        <span class="badge badge-pill badge-warning notification">0</span>
                    </a>
                    <a>
                        <i class="fa fa-envelope"></i>
                        <span class="badge badge-pill badge-success notification">0</span>
                    </a>
                    <a id="settingsbutton">
                        <i class="fa fa-cog"></i>
                    </a>
                    <a id="logoutbtn">
                        <i class="fa fa-power-off"></i>
                    </a>
                </div>
            </nav>
            <!-- sidebar-wrapper  -->
            <main class="container-student100">
                <div class="table-responsive" id="query_table_profile"></div>
                <div class="table-responsive" id="query_table_dashboard"></div>
                <div class="table-responsive" id="query_table_subjects"></div>
                <div class="table-responsive" id="query_table_schedule">
                    <table class="w3-center" id="schedule" border="1">
                        <tr class="days">
                            <th id="vazio"></th>
                            <th id="Segunda-feira">Segunda-feira</th>
                            <th id="Terca-feira">Terça-feira</th>
                            <th id="Quarta-feira">Quarta-feira</th>
                            <th id="Quinta-feira">Quinta-feira</th>
                            <th id="Sexta-feira">Sexta-feira</th>
                            <th id="Sabado">Sábado</th>
                        </tr>
                        <tr id="8:30">
                            <td class="hours">8:30</td>
                            <td class="empty" id="2" rowspan="3"></td>
                            <td class="empty" id="3" rowspan="3"></td>
                            <td class="empty" id="4" rowspan="3"></td>
                            <td class="empty" id="5" rowspan="3"></td>
                            <td class="empty" id="6" rowspan="3"></td>
                            <td class="empty" id="7" rowspan="3"></td>



                        </tr>
                        <tr id="9:00">
                            <td class="hours">9:00</td>
                        </tr>
                        <tr id="9:30">
                            <td class="hours">9:30</td>
                        </tr>
                        <tr id="10:00">
                            <td class="hours">10:00</td>
                            <td class="empty" id="2" rowspan="3"></td>
                            <td class="empty" id="3" rowspan="3"></td>
                            <td class="empty" id="4" rowspan="3"></td>
                            <td class="empty" id="5" rowspan="3"></td>
                            <td class="empty" id="6" rowspan="3"></td>
                            <td class="empty" id="7" rowspan="3"></td>


                        </tr>
                        <tr id="10:30">
                            <td class="hours">10:30</td>
                        </tr>
                        <tr id="11:00">
                            <td class="hours">11:00</td>
                        </tr>
                        <tr id="11:30">
                            <td class="hours">11:30</td>
                            <td class="empty" id="2" rowspan="3"></td>
                            <td class="empty" id="3" rowspan="3"></td>
                            <td class="empty" id="4" rowspan="3"></td>
                            <td class="empty" id="5" rowspan="3"></td>
                            <td class="empty" id="6" rowspan="3"></td>
                            <td class="empty" id="7" rowspan="3"></td>


                        </tr>
                        <tr id="12:00">
                            <td class="hours">12:00</td>
                        </tr>
                        <tr id="12:30">
                            <td class="hours">12:30</td>
                        </tr>
                        <tr id="13:00">
                            <td class="hours">13:00</td>
                            <td class="empty" id="2" rowspan="3"></td>
                            <td class="empty" id="3" rowspan="3"></td>
                            <td class="empty" id="4" rowspan="3"></td>
                            <td class="empty" id="5" rowspan="3"></td>
                            <td class="empty" id="6" rowspan="3"></td>
                            <td class="empty" id="7" rowspan="3"></td>


                        </tr>
                        <tr id="13:30">
                            <td class="hours">13:30</td>
                        </tr>
                        <tr id="14:00">
                            <td class="hours">14:00</td>
                        </tr>
                        <tr id="14:30">
                            <td class="hours">14:30</td>
                            <td class="empty" id="2" rowspan="3"></td>
                            <td class="empty" id="3" rowspan="3"></td>
                            <td class="empty" id="4" rowspan="3"></td>
                            <td class="empty" id="5" rowspan="3"></td>
                            <td class="empty" id="6" rowspan="3"></td>
                            <td class="empty" id="7" rowspan="3"></td>


                        </tr>
                        <tr id="15:00">
                            <td class="hours">15:00</td>
                        </tr>
                        <tr id="15:30">
                            <td class="hours">15:30</td>
                        </tr>
                        <tr id="16:00">
                            <td class="hours">16:00</td>
                            <td class="empty" id="2" rowspan="3"></td>
                            <td class="empty" id="3" rowspan="3"></td>
                            <td class="empty" id="4" rowspan="3"></td>
                            <td class="empty" id="5" rowspan="3"></td>
                            <td class="empty" id="6" rowspan="3"></td>
                            <td class="empty" id="7" rowspan="3"></td>


                        </tr>
                        <tr id="16:30">
                            <td class="hours">16:30</td>
                        </tr>
                        <tr id="17:00">
                            <td class="hours">17:00</td>
                        </tr>
                        <tr id="17:30">
                            <td class="hours">17:30</td>
                            <td class="empty" id="2" rowspan="3"></td>
                            <td class="empty" id="3" rowspan="3"></td>
                            <td class="empty" id="4" rowspan="3"></td>
                            <td class="empty" id="5" rowspan="3"></td>
                            <td class="empty" id="6" rowspan="3"></td>
                            <td class="empty lastblock" id="7" rowspan="3"></td>

                        </tr>
                        <tr id="18:00">
                            <td class="hours">18:00</td>
                        </tr>
                        <tr id="18:30">
                            <td class="hours" id="lasthour">18:30</td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive" id="query_table_subject_enroll">
                </div>
                <div class="table-responsive" id="query_table_settings">
                    <div>
                        <h2>Your settings</h2>
                        <p>You can change your settings here</p>
                        <br>
                        <form id="formsettings">
                            Timezone:
                            <br>
                            <select id="timezoneselector">
                                    <option value="gmt">GMT +0</option>
                                    <option value="cet">GMT +1</option>
                                    <option value="eet">GMT +2</option>
                                    <option value="wat">GMT -1</option>
                                    <option value="cdt">GMT -5</option>
                                    <option value="pdt">GMT -7</option>
                                </select><br>
                            <br> Theme:
                            <br>
                            <select id="themeselector">
                                    <option value="regulartheme">Regular theme</option>
                                    <option value="darktheme">Dark theme</option>
                                </select><br>
                            <br>
                            <button class="customButton" type="button" id="savesettings-button">Save</button>
                        </form>
                    </div>
                </div>
                <div class="table-responsive" id="query_table_pedido">
                    <h3>Transfer Request Form</h3>
                    <p>You can only request transfers for your subjects</p>
                    <br>
                    <form id="requestChangeForm">
                        Subject:<br>
                        <select id="mySubjects">
                            
                        </select><br>
                        <br> Remove from:<br>
                        <select id="myClasses">
                            
                        </select><br>
                        <br> Add to:<br>
                        <select id="joinClasses">
                            
                        </select><br>
                        <br>
                        <button class="customButton w3-center" id="requestChange" type="button">Request</button>
                        <br>
                        <br>
                        <p id="requestmsg"></p>
                    </form>
                </div>
            </main>
            <!-- page-content" -->
        </div>
        <!-- page-wrapper -->
    </div>
</body>

</html>