<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chronos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/w3/w3.css">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <!--não funciona localmente-->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/teacher.css">
    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js "></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js "></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js "></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js "></script>
    <!--===============================================================================================-->
    <script src="js/teacher.js"></script>
    <script src="js/main.js"></script>
    <!--===============================================================================================-->
</head>

<body>
    <div class="limiter">
        <div class="page-wrapper chiller-theme toggled">
            <a id="show-sidebar" class="btn btn-sm btn-dark">
                <i class="fas fa-bars" style="color:white"></i>
            </a>
            <nav id="sidebar" class="sidebar-wrapper">
                <div class="sidebar-content">
                    <div class="sidebar-brand">
                        <a>CHRONOS TEACHER</a>
                        <div id="close-sidebar">
                            <i class="fas fa-arrow-circle-left"></i>
                        </div>
                    </div>
                    <div class="sidebar-header">
                        <div class="user-pic">
                            <img class="img-responsive img-rounded" src="images/user.jpg" alt="User picture">
                        </div>
                        <div class="user-info">

                        </div>
                    </div>
                    <!-- sidebar-header  -->

                    <div class="sidebar-menu">
                        <ul>
                            <li class="header-menu">
                                <span>General</span>
                            </li>
                            <li>
                                <a id="dashboard-button">
                                    <i class="fa fa-tachometer-alt"></i>
                                    <span id="dashboard">Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a id="profile-button">
                                    <i class="fas fa-user"></i>
                                    <span id="profile">Profile</span>
                                </a>
                            </li>
                            <li>
                                <a id="subjects-button">
                                    <i class="fa fa-book" aria-hidden="true"></i>
                                    <span id="subjects">Subjects</span>
                                </a>
                            </li>
                            <li>
                                <a id="requests-button">
                                    <i class="fa fa-list-alt" aria-hidden="true"></i><span id="hasRequests" class="badge badge-pill badge-success notification">0</span>
                                    <span id="requests">Requests</span>
                                </a>
                            </li>

                            <li class="header-menu">
                            </li>


                        </ul>
                    </div>
                    <!-- sidebar-menu  -->
                </div>
                <!-- sidebar-content  -->
                <div class="sidebar-footer">
                    <a>
                        <i class="fa fa-bell"></i>
                        <span class="badge badge-pill badge-warning notification">0</span>
                    </a>
                    <a>
                        <i class="fa fa-envelope"></i>
                        <span class="badge badge-pill badge-success notification">0</span>
                    </a>
                    <a id="settingsbutton">
                        <i class="fa fa-cog"></i>
                    </a>
                    <a id="logoutbtn">
                        <i class="fa fa-power-off"></i>
                    </a>
                </div>
            </nav>
            <!-- sidebar-wrapper  -->
            <main class="container-teacher100">
                <div class="table-responsive" id="query_table_profile"></div>
                <div class="table-responsive" id="query_table_dashboard"></div>


                <div class="table-responsive" id="query_table_subjects">

                    <div id= "query_table_list_students">

                        <h2>Your students</h2>
                        <br>
                        <h3>List students by subject</h3>
                        <p>Select a subject to list students</p>
                        <br> Your subjects:<br>
                        <select id="subjectshow">
                        </select>
                        <br>
                        <br>
                        <button class="customButton w3-center" id="show-button" type="button">Show my students</button>
                        <br>
                        <hr>
                        <br>

                    </div>

                    <div id= "query_table_transfer_student">

                        <h2>Manage your classes</h2>
                        <br>
                        <h3>Transfer student between classes</h3>
                        <p>All fields will be filled while you write student's number</p>
                        <br>

                        <form id="formtransfer">
                            Student number:<br>
                            <input type="text" placeholder="Number" id="student">
                            <br><br> Subject:
                            <br>
                            <select id="subjectsallowed">
                                
                            </select>
                            <br><br> Remove from:<br>
                            <select id="turnosin">
                                
                            </select>
                            <br><br> Add to:<br>
                            <select id="turnosjoin">
                                
                            </select>
                            <br>
                            <br>
                            <button class="customButton w3-center" id="transfer-button" type="button">Transfer</button>
                            <br>
                            <br>
                            <p id="transfermsg"></p>
                        </form>

                    </div>

                </div>


                <div class="table-responsive" id="query_table_requests"></div>

                <div class="table-responsive" id="query_table_settings">
                    <div>
                        <h2>Your settings</h2>
                        <p>You can change your settings here</p>
                        <br>
                        <form id="formsettings">
                            Timezone:
                            <br>
                            <select id="timezoneselector">
                                    <option value="gmt">GMT +0</option>
                                    <option value="cet">GMT +1</option>
                                    <option value="eet">GMT +2</option>
                                    <option value="wat">GMT -1</option>
                                    <option value="cdt">GMT -5</option>
                                    <option value="pdt">GMT -7</option>
                                </select><br>
                            <br> Theme:
                            <br>
                            <select id="themeselector">
                                    <option value="regulartheme">Regular theme</option>
                                    <option value="darktheme">Dark theme</option>
                                </select><br>
                            <br>
                            <button class="customButton" type="button" id="savesettings-button">Save</button>
                        </form>
                    </div>
                </div>
            </main>
            <!-- page-content" -->
        </div>
        <!-- page-wrapper -->
    </div>
</body>
<script>
    function reject(id) {
        $.ajax({
            url: "/teacherReject",
            type: "get",
            dataType: "json",
            data: {
                requestid: id
            },
            success: (data) => {
                console.log(data.msg);
                $(`#${id}`).remove();
                refetch();
            }
        })
    }

    function approve(id, cadeira, email_aluno, turnosaida, turnoentrada) {
        $.ajax({
            url: "/teacher-transfer",
            type: "get",
            dataType: "json",
            data: {
                student: email_aluno,
                subject: cadeira,
                removefrom: turnosaida,
                addto: turnoentrada,
                type: "string"
            },
            success: (data) => {
                console.log("In function response");
                console.log(data);
                if (data.code == 0) {
                    console.log(data.msg);
                } else {
                    cadeiras = data;
                    $.ajax({
                        url: "/teacher-transfer-set",
                        type: "get",
                        dataType: "json",
                        data: {
                            student: email_aluno,
                            cadeiras: cadeiras,
                            type: "string"
                        },
                        success: (data) => {
                            console.log("In function response 2");
                            console.log(data);
                            $.ajax({
                                url: "/teacherApprove",
                                type: "get",
                                dataType: "json",
                                data: {
                                    requestid: id
                                },
                                success: (data) => {
                                    console.log("In function response 3");
                                    console.log(data);
                                    console.log(data.msg);
                                    $(`#${id}`).remove();
                                    refetch();
                                }
                            })
                        }
                    })
                }
            }
        })
    }

    function refetch() {
        $.ajax({
            url: "/teacher-request",
            type: "get",
            dataType: "json",
            success: (data) => {
                if (data.code == 1) {
                    if (data.requests.length > 0) {
                        $("#hasRequests").text(data.requests.length);
                    }
                } else {
                    $("#hasRequests").text(data.requests.length);
                    $('#query_table_requests').html(`<h2>Your requests</h2><br>
                                                             <h3>List of requests pending</h3>
                                                             <p>You have to approve or reject in order to transfer the student or not</p>
                                                             <br><h4>${data.msg}</h4>`);
                }
            }
        })
    }
</script>

</html>