/*-----------------------------search-bar-------------------------------------------------*/
.search-admin-bar{
    background-color:#000000;
    border:solid 2px #000000;
    border-radius:10px;
    width: 50%;
    margin: 0 auto 40px auto;
  }
   
  #txtBusca{
    background-color:transparent;
    padding-left:5px; 
    font-size:18px;
    color: white;
    border:none;
    width:100%;
  }
   
  #btnBusca{
    border:solid 2px #000000;
    border-radius:7px;
    width:100%;
    font-weight:bold;
    background:#5F9EA0;
  }
  #btnBusca:hover{
    border:solid 2px #000000;
    border-radius:7px;
    width:100%;
    font-weight:bold;
    background:rgb(172, 206, 207);
  }

  /*-----------------------------settings div-------------------------------------------------*/
  #formsettings{
    padding: 10px 0 10px 0;
    margin: 10px;
    font-size: 20px;
  }

  #formsettings > select{
    margin: 0 0 10px 0;
  }

  #savesettings-button{
    border:solid 1px #000000;
    border-radius:7px;
    padding: 5px 20px 5px 20px;
    font-weight:bold;
    background:#5F9EA0;
    margin-top: 10px;
  }

  #savesettings-button:hover{
    border:solid 1px #000000;
    border-radius:7px;
    padding: 5px 20px 5px 20px;
    font-weight:bold;
    background:rgb(172, 206, 207);
  }