.selectTurn {
    background-color: rgb(255, 0, 0);
    color: black;
    display: block;
    text-decoration: none;
    width: 150px;
    border-radius: 25px
}

.selectedTurn {
    background-color: rgb(20, 235, 12);
    color: black;
    display: block;
    text-decoration: none;
    width: 250px;
    border-radius: 25px
}

.card-text {
    display: center;
}

.btnTurn {
    border: 1px solid rgb(253, 7, 7);
    background-color: rgb(253, 7, 7);
    color: black;
    padding: 4px 12px;
    margin-left: 30%;
    -o-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
    border-radius: 50px
}

.btnTurn:hover {
    background-color: #a50f0f;
}

.btnTurn:active {
    background-color: rgb(11, 133, 11);
}

.selectedTurn .btnTurn {
    background-color: rgb(25, 219, 18);
    border: 1px solid rgb(25, 219, 18);
    color: black;
    padding: 4px 12px;
    -o-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
    border-radius: 50px
}

.selectedTurn btnTurn:hover {
    background-color: rgb(11, 133, 11);
}

#schedule {
    border: solid rgb(0, 0, 0) 1px;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

.days #vazio {
    width: 50px
}

.days th {
    width: 200px;
    height: 50px;
    background-color: rgb(54, 51, 51);
    color: white;
    text-align: center;
}

.hours {
    background-color: rgb(54, 51, 51);
    color: white;
    text-align: center;
}

.empty {
    background-color: rgb(54, 51, 51);
}

.full {
    background-color: rgb(0, 139, 204);
    color: black;
    text-align: center;
}

#query_table_pedido {
    width: 25%;
    min-width: 320px;
}

select {
    width: 70%;
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    cursor: pointer;
}
input[type=text] {
    border-radius: 4px;
    width: 70%;
    padding: 5px 15px;
    box-sizing: border-box;
  }