.selectTurn {
    background-color: rgb(255, 0, 0);
    color: black;
    display: block;
    text-decoration: none;
    width: 150px;
    border-radius: 25px
}

.selectedTurn {
    background-color: rgb(20, 235, 12);
    color: black;
    display: block;
    text-decoration: none;
    width: 250px;
    border-radius: 25px
}

.card-text {
    display: center;
}

.btnTurn {
    border: 1px solid rgb(253, 7, 7);
    background-color: rgb(253, 7, 7);
    color: black;
    padding: 4px 12px;
    margin-left: 30%;
    -o-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
    border-radius: 50px
}

.btnTurn:hover {
    background-color: #a50f0f;
}

.btnTurn:active {
    background-color: rgb(11, 133, 11);
}

.selectedTurn .btnTurn {
    background-color: rgb(25, 219, 18);
    border: 1px solid rgb(25, 219, 18);
    color: black;
    padding: 4px 12px;
    -o-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
    border-radius: 50px;
    display: show;
}

.selectedTurn btnTurn:hover {
    background-color: rgb(11, 133, 11);
}

.selectTurn .btnTurn {
    display: show;
}

#schedule {
    margin-left: 15%;
}

table {
    border-collapse: separate;
    border: solid rgba(41, 40, 40, 0) 1px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

td,
th {
    border: solid rgb(41, 40, 40) 1px;
}

th {
    background-color: rgb(41, 40, 40);
    border-top: none;
}

.days #vazio {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.days th {
    width: 200px;
    height: 50px;
    background-color: rgb(41, 40, 40);
    color: white;
    text-align: center;
}

.days th:last-child {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

#lasthour {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.hours {
    border-left: none;
    background-color: rgb(41, 40, 40);
    color: white;
    text-align: center;
}

.hours#lasthour {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
}

.lastblock {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 0%;
}

th {
    background-color: rgb(41, 40, 40);
}

.empty {
    background-color: rgb(232, 232, 232);
}

.full {
    background: -webkit-linear-gradient(-135deg, #0c5da8, #2b90be);
    background: -o-linear-gradient(-135deg, #0c5da8, #2b90be);
    background: -moz-linear-gradient(-135deg, #0c5da8, #2b90be);
    background: linear-gradient(-135deg, #0c5da8, #2b90be);
    color: whitesmoke;
    font-size: 15px;
    text-align: center;
}

#query_table_pedido {
    color: whitesmoke;
    border: solid rgb(41, 40, 40) 1px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: rgb(41, 40, 40);
    padding: 20px;
    width: 25%;
    min-width: 320px;
    text-align: center;
    align-content: center;
}

select {
    width: 70%;
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.blockdiv {
    background-color: rgb(109, 109, 109);
}

.blockdiv .btnTurn {
    border: solid rgb(109, 109, 109) 1px;
    background-color: rgb(109, 109, 109);
    pointer-events: none
}

input[type=text] {
    border-radius: 4px;
    width: 70%;
    padding: 5px 15px;
    box-sizing: border-box;
}