select {
    width: 70%;
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    cursor: pointer;
}
input[type=text] {
    border-radius: 4px;
    width: 70%;
    padding: 5px 15px;
    box-sizing: border-box;
}

#query_table_list_students {
    color: whitesmoke;
    border: solid rgb(41, 40, 40) 1px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: rgb(41, 40, 40);
    padding: 20px;
    width: 60%;
    min-width: 320px;
    text-align: center;
    align-content: center;
    height: fit-content;
}

#query_table_transfer_student {
    color: whitesmoke;
    border: solid rgb(41, 40, 40) 1px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: rgb(41, 40, 40);
    padding: 20px;
    width: 60%;
    min-width: 320px;
    text-align: center;
    align-content: center;
    margin-left: 5%;
    height: fit-content;
}


#query_table_requests{
    color: whitesmoke;
    border: solid rgb(41, 40, 40) 1px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: rgb(41, 40, 40);
    padding: 20px;
    width: fit-content;
    min-width: 320px;
    text-align: center;
    align-content: center;
    margin-left: 5%;
    height: fit-content;
}

#settings-teacher-div{
    color: whitesmoke;
    border: solid rgb(41, 40, 40) 1px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: rgb(41, 40, 40);
    padding: 20px;
    width: fit-content;
    min-width: 320px;
    text-align: center;
    align-content: center;
    margin-left: 5%;
    height: fit-content;
}

#query_table_subjects{
    display: -webkit-inline-box;
}